@model IEnumerable<Auctions.Models.favorite>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idfavorite }) |
            @Html.ActionLink("Details", "Details", new { id=item.idfavorite }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idfavorite })
        </td>
    </tr>
}

</table>
