@model IEnumerable<Auctions.Models.item>

@{
    ViewBag.Title = " E-Shopper";
}

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <table class="table">

                        <img src="/images/home/product3.jpg" alt="" />


                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.minprice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.buy_now)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.category.name)
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    </div>
}

